# Proxmox VE

# Using HTTPS API or pvesh:
# Empty hostname -> Use local pvesh cli (using root@pam)
# Hostname with credentials -> Use HTTPS API
#
# Note: HTTP API mode is significantly faster and recommended for larger setups.

# Host (default: empty)
# host = "localhost"

# Authentication with API Token (preferred, default: empty)
# api_token_id = "user@realm!token-id"
# api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Authentication with User credentials (default: empty)
# username = "user@realm"
# password = "xxxxxxxx"

# Port for HTTPS API (default: 8006)
# port = 8006

# Disable TLS verification for HTTPS API: true, false (default: false)
# no_cert_check = false

# Connection timeout in seconds (default: 50)
# timeout = 50

# Fetch logs N weeks back in time (default: 2)
# log_cutoff_weeks = 2